{%  extends '::base.html.twig' %}

{%  block body %}
    <h1>Paramètres</h1>
    <hr />

    <h2>Configuration générale</h2>
    <hr />
    <div class="list-group">
        <a href="#" class="list-group-item"><span class="glyphicon glyphicon-user"></span> Gérer les utilisateurs</a>
    </div>

    <h2>Configuration des capteurs</h2>
    <hr />
    <div class="list-group">
        <a href="{{ path('weather_sensors_show_all') }}" class="list-group-item"><span class="glyphicon glyphicon-flash"></span> Gérer les capteurs</a>
    </div>

{%  endblock %}